<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Yetkili Girişi</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-button
            *ngIf="!isAuthenticated"
            expand="block"
            routerLink="/tabs/auth">
            Login
          </ion-button>
      </ion-menu-toggle>
      <ion-menu-toggle>
      <ion-button
        (click)="logout()"
        *ngIf="isAuthenticated"
        expand="block"
        color="danger"
        routerLink="/tabs">
        Logout
      </ion-button>
    </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
